SNAP_BANKS=
SNAP_BCA_ENVIRONMENT=
SNAP_HTTP_TIMEOUT=

SNAP_BCA_API_BASE_URL=
SNAP_BCA_API_BASE_PATH=
SNAP_BCA_API_KEY=
SNAP_BCA_API_SECRET=
SNAP_BCA_CLIENT_ID=
SNAP_BCA_CLIENT_SECRET=
SNAP_BCA_PRIVATE_KEY_PATH=

SNAP_BRI_ENVIRONMENT=
SNAP_HTTP_TIMEOUT=

SNAP_BRI_API_BASE_URL=
SNAP_BRI_API_BASE_PATH=
SNAP_BRI_CLIENT_ID=
SNAP_BRI_CLIENT_SECRET=
SNAP_BRI_PRIVATE_KEY_PATH=